<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Connection" value="U2VydmVyID0xMTMuMTYxLjk1LjEyM1xIT0FUSUVVMks4UjIsMTQzNjsgZGF0YWJhc2UgPSBIVENQSDt1c2VyID0gc2E7IHB3ZCA9IE1ha2l1dDEyMw==" />
    <add key="ConnectionPOS" value="U2VydmVyID0xMTMuMTYxLjk1LjEyM1xIT0FUSUVVMks4UjIsMTQzNjsgZGF0YWJhc2UgPSBQT1M7dXNlciA9IHNhOyBwd2QgPSBNYWtpdXQxMjM=" />
    <add key="DataPath" value="D:\" />
    <add key="DataPath2" value="D:\" />
    <add key="Interval" value="30" />
  </appSettings>
</configuration>