<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="POSDb" value="U2VydmVyID0xMTMuMTYxLjk1LjEyM1xwaHVjaGFvZGIsMTQzNjsgZGF0YWJhc2UgPSBQT1M7IHVzZXIgPSBzYTsgcHdkID0gTWFraXV0MTIz"/>
    <add key="LongwayDb" value="U2VydmVyID0gMTEzLjE2MS45NS4xMjMsMTQzNlxQSFVDSEFPREI7IGRhdGFiYXNlID0gQ1BNUzsgdXNlciA9IHNhOyBwd2QgPU1ha2l1dDEyMw=="/>
    <add key="SoftwareType" value="MV"/> <!-- SV = Single View | MV = Multiview-->
    <add key="MachineTable" value="MS1"/> <!-- If single View set Table name example: MS1_B for B machine | If multiview set machine code: MS1 for line 1 & MS2 for line 2-->
    <add key="UserName" value="admin"/>
    <add key="Database" value="POS"/>
    <add key="LastOrders" value="30"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
