<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="POSDb" value="U2VydmVyID0xMTMuMTYxLjk1LjEyM1xIT0FUSUVVMks4UjIsMTQzNjsgZGF0YWJhc2UgPSBQT1M7IHVzZXIgPSBzYTsgcHdkID0gTWFraXV0MTIz" />
    <add key="LongwayDb" value="U2VydmVyID0gQ09OR1BDXEhPQVRJRVU7IGRhdGFiYXNlID0gQ1BNUzsgdXNlciA9IHNhOyBwd2QgPSBodA==" />
    <add key="UserName" value="admin" />
    <add key="Database" value="POS" />
    <add key="LastOrders" value="30" />
  </appSettings>
</configuration>