<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Connection" value="U2VydmVyID0xMTMuMTYxLjk1LjEyM1xIT0FUSUVVMks4UjIsMTQzNjsgZGF0YWJhc2UgPSBIVENQSDsgdXNlciA9IHNhOyBwd2QgPSBNYWtpdXQxMjM=" />
    <add key="DataPath" value="D:\" />
    <add key="DataPath2" value="D:\" />
    <add key="Interval" value="30" />
  </appSettings>
</configuration>